@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-style: normal;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

.container {
    max-width: 1600px;
}

.first-page {
    display: flex;
    flex-direction: column;
}

.up-menu {
    display: flex;
    height: 75px;
    flex-shrink: 0;
    background-color: #222;
    justify-content: space-between;
}


.ico {
    width: 44px;
    height: 38px;
    flex-shrink: 0;
    margin-left: 231px;
    margin-right: 41px;
    margin-top: 18px;
}

.lupa {
    width: 26.002px;
    height: 26.792px;
    flex-shrink: 0;  
    margin-top: 28px;
}
    
.menu {
    width: 158.996px;
    height: 29px;
    flex-shrink: 0;
    margin-top: 26px;
    margin-right: 240px;
    margin-bottom: 20px;
}

.small-screen {
    display: none;
}

.main-menu {
    display: flex;
    background-color: #F1E4E6;
}

.big-men {
    width: 800.58px;
    height: 764px;
    flex-shrink: 0;
    margin-right: 63.42px;
}

.stick {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    margin-top: 289.9px;
    margin-bottom: 382.1px;
    margin-right: 16px;
}
.big-text {  
    width: 337px;
    height: 93px;
    margin-top: 290px;
    margin-right: 331px;
    margin-bottom: 381px;
}
.image {
    width: 360px;
    height: 260px;
    flex-shrink: 0;
}


.three-up-photos {
    display: flex;
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 30px;
    margin-left: 230px;
    margin-right: 230px;
}
.one-d-photo {
    display: flex;
    margin-bottom: 96px;
    margin-left: 230px;
    margin-right: 230px;
}
.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.third-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
}

.t-up-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    margin-bottom: 48px;
}

.fetured {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.small-shop-text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;   
}

.menu-photos {
    display: grid;
    justify-content: center;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows:  587px 587px;
    gap: 30px;
}

.peple {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
}

.name-cart {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.disc-cart {
    margin-bottom: 16px;
    margin-left: 16px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.cost {
    margin-bottom: 26px;
    margin-left: 16px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.buton {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    align-items: center;
    position: relative;
}

.br-bt {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.w {
    position: relative;
}
.b-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




@media screen and (max-width: 769px) {
    .container {
        max-width: 769.572px;
    }
    .main-menu {
        width: 100%;
        height: 367.567px;
        flex-shrink: 0;
    }
    .ico {
        margin-bottom: 18px;
        margin-left: 32px;
    }
    .lupa {
        margin-top: 28px;
        margin-bottom   : 19px;
    }
    .small-screen {
        display: none;
    }
    .big-screen {
        display: flex;
        width: 160px;
        height: 29px;
    }
    .menu {
        margin-top: 27px;
        margin-right: 41.01px;
        margin-bottom: 18px;
    }
    .big-men {
        width: 386px;
        height: 368px;
        flex-shrink: 0;
        margin-right: 0px;
    }
    .right-main-text{
        width: 383.57px;
        margin-right: 0px;
    }
    .stick {
        margin-top: 138px;
        margin-bottom: 137.57px;
        margin-right: 16px;
    }
    .big-text {
        width: 283px;
        height: 78px;
        margin-top: 138.1px;
        margin-right: 33.57px;
        margin-bottom: 151.47px;
    }
    .image {
        width: 231.973px;
        height: 167.617px;
    }
    .three-up-photos {
        gap: 18px;
        margin-top: 65px;
        margin-bottom: 19.38px;
        margin-left: 16px;
        margin-right: 16.5px;
    }
    .one-d-photo {
        margin-bottom: 109px;
        margin-left: 16px;
        margin-right: 17px;
        width: 734.581px;
        height: 116.043px;
    }
    .third-page {
        margin-bottom: 32.48px;
    }
    .t-up-text{
        align-items: center;    
        margin-bottom: 72.74px;
    }
    .menu-photos {
        grid-template-columns: 360px 360px;
        grid-template-rows:  581px 581px 581px;
        gap: 16px;
    }
    .buton {
        margin-bottom: 71px;
    }
}

@media screen and (max-width: 375px ) {
    .container {
        max-width: 375px;
    }
    .ico {
        margin-left: 16px;
    }
    .big-screen {
        display: none;
    }
    .small-screen {
        display: flex;
        width: 32px;
        height: 23px;
    }
    .main-menu {
        width: 375px;
        height: 363px;
    }
    .menu {
        display: flex;
        width: 32px;
        height: 23px;
        margin-top: 25px;

    }
    .lupa {
        margin-bottom: 19px;
    }
    .left-men {
        display: none;
    }
    .right-main-text {
        display: flex;
        width: 375px;
        height: 363px; 
    }
    .stick {
        height: 61px;
        margin-top: 150px;
        margin-left: 56px;
        margin-bottom: 152px;
        margin-right: 15px;
    }
    .big-text {
        width: 236px;
        height: 66px;
        margin-top: 148px;
        margin-right: 56px;
        margin-bottom: 149px;
    }
    .second-page {
        display: flex;
        flex-direction: column;
    }
    .image {
        width: 344px;
        height: 249px;
    }
    .three-up-photos {
        flex-direction: column;
        gap: 32px;
        margin-top: 64px;
        margin-bottom: 32px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .one-d-photo {
        margin-bottom: 64px;
        margin-left: 16px;
        margin-right: 15.54px;
        width: 343.262px;
        height: 111px;
    }
    .for-acc {
        display: flex;
        width: 343.262px;
        height: 111px;
    }
    .third-page {
        margin-bottom: 40.61px;
    }
    .t-up-text {
        margin-bottom: 64.7px;
    }
    .menu-photos {
        flex-direction: column;
        grid-template-columns: 359px;
        grid-template-rows:  repeat(6, 579.386px);
        gap: 16px;
    }
    .buton {
        margin-bottom: 85px;
    }
}
