@font-face{
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-style: normal;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}
.first-page {
    width: 1600px;
    height: 764px;
    flex-shrink: 0; 
    margin-bottom: 0;
}
.top-bar {
    background-color: #222;
    display: flex;
}

.top-ico {
    display: flex;
    margin-left: 231px;
    margin-top: 18px;
    margin-right: 41px;
    margin-bottom: 19px;
}

.lupa {
    display: flex;
    margin-left: 0;
    margin-top: 28.21px;
    margin-right: 859px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    margin-left: 0;
    margin-top: 26px;
    margin-right: 240px;
    margin-bottom: 20px;
}


.bot-b {
    background-color: #F1E4E6;
    display: grid;
    grid-template-columns: 800.58px auto;
}

.men {
    width: 800.58px;
    height: 764px;
    flex-shrink: 0;
}
.men-text {
    display: flex;
}

.stick {
    display: flex;
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    margin-left: 63.42px;
    margin-top: 289.9px;
    margin-bottom: 382px;
    margin-right: 16px;
}

.big-men-text {
    display: flex;
    margin-top: 290px;
    margin-right: 331px;
    margin-bottom: 381px;
}




.second-page {
    background-color: #fff;
    display: flex;
    width: 1600px;
    height: 2925px;
}



.b-photos {

}

.ph-women {

}

.img-for-women {

}

.ph-men {

}
.img-for-men {

}

.ph-kid {

}

.img-for-kid {

}

.ph-acc {

}

.img-for-acc {
    width: 1140px;
    height: 180px;
    flex-shrink: 0;
}

.for{
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text { 
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.s-img {
    width: 360px;
    height: 260px;
    flex-shrink: 0;
}